:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #f6f6f6;
  background-color: #0f0f0f;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  height: 50%;
}

body {
  margin: 0;
  height: 100%;
}

.key.shine {
  background-color: #202020;
}

.container {
  margin: 0;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.row {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  flex-grow: 1;
}

.col > div {
  margin: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}